.input-content {
  height: calc(100% - (2 * 0.83em + 1.5em + 16px));


  form {
    height: 60px;
  }

  article {
    height: calc(100% - 60px);

    .bound-display {
      height: 18px;
      padding: 16px 0;

      p {
        margin: 0;
      }
    }

    .changes {
      height: calc(100% - (2.66em + 18px + 16px));


      .log {
        height: calc(100% - (18px + 16px));
        overflow: auto;
      }
    }


  }
}


