<div class="input-content">
  <table>
    <tr>
      <td><label for="first-name">First Name:</label></td>
      <td><input id="first-name" [(ngModel)]="firstName"></td>
    </tr>
    <tr>
      <td><label for="last-name">Last Name:</label></td>
      <td><input id="last-name" [(ngModel)]="name.last"></td>
    </tr>
  </table>


  <lch-child [firstName]="firstName" [name]="name"></lch-child>

<!--    <article>-->
<!--      <section class="bound-display">-->
<!--        <p>{{firstName}} {{name.last}}</p>-->
<!--      </section>-->

<!--      <section class="changes">-->
<!--        <h4>&#45;&#45; Change Log &#45;&#45;</h4>-->
<!--        <div class="log">-->
<!--          <div *ngFor="let chg of changeLog">{{chg}}</div>-->
<!--        </div>-->
<!--      </section>-->
<!--    </article>-->

</div>

