<!--<article *ngIf="checkSizeMethod()">-->
<article *ngIf="checkSizeProperty">
  <section *ngFor="let comment of comments">
    <h4>{{ comment.email }}</h4>
    <p>{{ comment.body }}</p>
  </section>
</article>

