<article>
  <section class="bound-display">
    <p>{{firstName}} {{name.last}}</p>
  </section>

  <section class="changes">
    <h4>-- Change Log --</h4>
    <div class="log">
      <div *ngFor="let chg of changeLog">{{chg}}</div>
    </div>
  </section>
</article>

