<header>
  <nav class="top-nav-bar">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li>
        <a routerLink="/lazy" routerLinkActive="active">Lazy</a>
        <div class="dropdown-content">
          <a routerLink="/lazy/input" routerLinkActive="active">Input</a>
          <a routerLink="/lazy/list" routerLinkActive="active">Http</a>
        </div>
      </li>

      <li>
        <a routerLink="/eager" routerLinkActive="active">Eager</a>
        <div class="dropdown-content">
          <a routerLink="/eager/input" routerLinkActive="active">Input</a>
          <a routerLink="/eager/list" routerLinkActive="active">Http</a>
        </div>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
