nav {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  font-family: 'Oswald', sans-serif;
  background-color: #444;
  text-align: center;
  font-size: 1.4em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    height: 50px;
    line-height: 50px;
    min-width: 120px;

    &:hover {
      .dropdown-content {
        display: block;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: .3s background-color;

      &:hover {
        color: #fff;
        background-color: #005f5f;
      }


      &.active {
        background-color: #fff;
        color: #444;
        cursor: default;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #444;
      color: #fff;
      min-width: 120px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        &:hover {
          color: #fff;
          background-color: #005f5f;
        }
      }

    }
  }
}

main {
  height: 100%;
  max-height: calc(100% - 130px);
  margin: 24px 48px;
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;

  @media screen and (min-width: 1200px) {
    max-width: 1072px;
    margin: 24px auto;
  }
}




